.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.task-card__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    color: #5264AE;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

.task-card svg {
    margin-left: 10px;
    cursor: pointer;
}

.task-card svg:hover {
    color: #677EDD;
}
