* {
    font-family: Arial, serif;
    font-size: 16px;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

p {
    color: #757575;
}

.page-wrapper {
    height: 100%;
    max-width: 375px;
    width: 100%;
    margin: auto;
}

.input-container {
    max-width: 300px;
    width: 100%;
    height: 40px;
    position: relative;
    margin-right: 20px;
}

.input-container * {
    transition: all 0.1s ease-in-out;
}

.input-span {
    display: flex;
    align-items: center;

    height: 100%;
    position: absolute;
    left: 5px;
    top: 0;
}

.input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid #757575;
    font-size: 18px;
    outline: none;
}

.input:focus {
    border-bottom: 1px solid #5264AE;
}

.input:focus + .input-span,
.input:valid + .input-span {
    top: -55%;
    font-size: 14px;
    color: #5264AE;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    min-width: 40px;
    padding: 0 16px;
    color: #FFFFFF;
    background: #5264AE;

    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    font-weight: 600;

    text-align: center;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background: #677EDD;
}
